/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox,#cboxOverlay,#cboxWrapper {
	position:absolute;
	top:0;
	left:0;
	z-index:9999;
	overflow:hidden;
}

#cboxOverlay {
	position:fixed;
	width:100%;
	height:100%;
}

#cboxMiddleLeft,#cboxBottomLeft {
	clear:left;
}

#cboxContent {
	position:relative;
}

#cboxLoadedContent {
	overflow:auto;
}

#cboxLoadedContent iframe {
	display:block;
	width:100%;
	height:100%;
	border:0;
}

#cboxTitle {
	margin:0;
}

#cboxLoadingOverlay,#cboxLoadingGraphic {
	position:absolute;
	top:0;
	left:0;
	width:100%;
}

#cboxPrevious,#cboxNext,#cboxClose,#cboxSlideshow {
	cursor:pointer;
}

/* 
    ColorBox example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay {
	background:#000;
	opacity:0.3;
}

#colorbox {
}

#cboxContent {
	color:#fff;
	margin-top: 20px;
}

#cboxLoadedContent {
	background:#000;
	border:2px solid #e1e1e1;
		border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	overflow-y: auto;
}

#cboxLoadedContent #sum-hide {
	padding: 20px;
	max-height: 500px;
}

#cboxTitle {
	position:absolute;
	top:-20px;
	left:0;
	color:#fff;
}

#cboxCurrent {
	position:absolute;
	top:-20px;
	right:0;
	color:#fff;
}

#cboxSlideshow {
	position:absolute;
	top:-20px;
	right:90px;
	color:#fff;
}

#cboxPrevious {
	position:absolute;
	top:50%;
	left:5px;
	margin-top:-32px;
	background:url(images/controls.png) no-repeat top left;
	width:28px;
	height:65px;
	text-indent:-9999px;
}

#cboxPrevious.hover {
	background-position:bottom left;
}

#cboxNext {
	position:absolute;
	top:50%;
	right:5px;
	margin-top:-32px;
	background:url(images/controls.png) no-repeat top right;
	width:28px;
	height:65px;
	text-indent:-9999px;
}

#cboxNext.hover {
	background-position:bottom right;
}

#cboxLoadingOverlay {
	background:#000;
}

#cboxLoadingGraphic {
	background:url(images/loading.gif) no-repeat center center;
}

#cboxClose {
	position:absolute;
	top:5px;
	right:5px;
	display:block;
	background:url(images/controls.png) no-repeat top center;
	width:38px;
	height:19px;
	text-indent:-9999px;
}

#cboxClose.hover {
	background-position:bottom center;
}