body {
	font-family: Helvetica;
	font-weight: 400;
	font-size: 0.8em;
	color: #333;
	padding: 0;
	margin: 0;
	height:100%;
	line-height: 1.4em;
	min-width: 960px;
}

a {
	color: inherit;
	text-decoration: none;
}

strong {
	font-weight: 600;
}

.fit {
	min-height:100%; /* lazy loadissue with height:100% */
}

.left {
	float: left;
}

.txt-left {
	text-align: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.bb {
	border-bottom: 1px solid #444;
}

.h4 {
	margin: 0.5em 0 0.3em 0;
}

.block {
	display: block;
}

.rounded {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.rounded-st {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
}


.shadow {
	-webkit-box-shadow: 0px 3px 25px #000;
	-moz-box-shadow: 0px 3px 25px #000;
	box-shadow: 0px 3px 25px #000;
}

.txt-shadow {
	text-shadow: 0px 1px 5px silver;
}

.txt-shadow-d {
	text-shadow: 1px 1px 2px #e1e1e1;
}

.button {
	padding: 0 1em;
	border: 1px solid #e1e1e1;
	cursor: pointer;
	/* display: block; */
	/* float: left; */
}

.fixed .right { /* fix the overflow of fixed elements */
	margin-right: 13em;
}

/* SIDEBAR */

#sidebar {
	float: left;
	position: fixed;
	z-index: 3;
	width: 12em;
	background-color: #dee3ea;
	border-right: 1px solid #b4b4b4;
	color: #748192;
	height: 100%;
}
#sidebar h4 {
	text-transform: uppercase;
	margin-top: 1em;
	font-size: 0.9em;
}

#sidebar ul, #sidebar h4 {
	padding: 0 1em;
}

#sidebar li, #sidebar ul {
	margin: 0;
	padding: 0;
}

#sidebar li {
	padding: 0 0 2px 20px;
	font-size: 0.9em;
	line-height: 20px;
	list-style-position: inside;
	color: #333;
}


#sidebar .selected {
	color: #fff;
	background-color: #2d67b8;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(45,103,184)),color-stop(1, rgb(115,162,220)));
	background: -moz-linear-gradient(center bottom,rgb(45,103,184) 0%,rgb(115,162,220) 100%);
}

/* sidebar icons */
.sb-movie, .sb-video {
	list-style-image: url(icons/icon-movie.png);
}

.sb-show {
	list-style-image: url(icons/icon-show.png);
}
.sb-photos {
	list-style-image: url(icons/icon-photos.png);
}

.sb-artist, .sb-music, .sb-itunes {
	list-style-image: url(icons/icon-music.png);
}

 /* TOP NAV */
 /* TOP NAV */
#breadcrumb, #content-bottom {
	position: fixed;
	z-index: 2;
	left: 12em;
	width: 100%;
}

#breadcrumb {
	top:0;
	border-bottom: 1px solid #585858;
	-webkit-box-shadow: 0px 5px 20px #333;
	-moz-box-shadow: 0px 5px 5px #333;
	box-shadow: 0px 5px 5px #333;
	height:30px;
	line-height:30px;
}
.b-path ul {
	margin: 0;
	padding: 0;
}

.b-path li  {
	color: gray;
	list-style-type:none;
	float:left;
	padding-left:10px;
}

#breadcrumb a {
	color: #222;
	background: url(icons/bc_separator.png) right center no-repeat;
	padding-right: 15px;
	display: block;
	float: left;
}
#breadcrumb a:hover {
	color: #4688b7;
}

#breadcrumb span.active {
	color: #fff;
	background-color: #878787;
	-webkit-box-shadow: inset 0px 0px 5px #000;
	-moz-box-shadow: inset 0px 0px 5px #000;
	box-shadow: inset 0px 0px 5px #000;
}

/* TOP FILTERS */

#search {
	width: 150px;
}

#content-bottom {
	bottom: 0;
	height: 20px;
	border-top: 1px solid #585858;
	font-size: 0.89em;
	padding-left: 20px;
	color: #e1e1e1;
}

#content-bottom .right {
	margin-right: 15em;
}

.gradient {
	background: #e1e1e1;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0.16, rgb(180,180,180)),color-stop(1, rgb(245,245,245)));
	background: -moz-linear-gradient(center bottom,rgb(180,180,180) 16%,rgb(245,245,245) 100%);
}

.dark-gradient {
	background: #060606;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(2,2,2)),color-stop(1, rgb(48,48,48)));
	background: -moz-linear-gradient(center bottom,rgb(2,2,2) 0%,rgb(48,48,48) 100%);
}

/* Content section part */
#content {
	z-index: 1;
	margin-left: 12em;
	width: auto;
	position: relative;
	background-color: #222;
	color: #fff;
	overflow-x: hidden;
}

#content h3 {
	font-size: 0.9em;
}

#browser {
	padding: 10px;
	margin-top: 25px;
	overflow: hidden;

}

#browser .item {
	float: left;
	margin: 5px;
}

.item {
		position: relative;
}

.item .img, .h3 {
	position: absolute;
	text-align: center;
	left: 0;
}


.h3 {
	bottom: 0;
}

.img {
	bottom: 40px;
}

.img .rounded {
	position: relative;
	margin: auto;
	border:4px solid transparent;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-transition: all 0.2s ease-in-out;
}

*:hover .img > .rounded, .img.current > .rounded {
	border:4px solid #e2aa54;
}

.img .rounded img, .img:hover .rounded img  {
	border: none;
}

.item .img, .h3 span {
	color: silver;
}

.item:hover img {
	/* not functional with webkit
background: -webkit-gradient(linear,left bottom,left top,color-stop(0.19, rgb(124,72,32)),color-stop(0.6, rgb(226,169,84)));
	background: -moz-linear-gradient(center bottom,rgb(124,72,32) 19%,rgb(226,169,84) 60%);
*/
}

/* DIFF ITEM */
#section .item {
	width: 170px;
	height: 220px;
}

#section .item .img .rounded {
	width: 110px;
}

#section .item .img, .h3 {
	width: 100%;
}

#third .item {
	width: 130px;
	height: 180px;
}

#music .item {
	width: 170px;
	height: 170px;
}

#music .item .img .rounded {
	width: 110px;
}

#music .item .img, .h3 {
	width: 100%;
}

/* Media or Directory details */
.details {
	padding: 40px 40px 0 40px;
}

#details-main {
	padding-bottom: 20px;
	border-bottom: 1px solid #444;
}

#details-main h2 {
	font-weight: normal;
	color: #e1e1e1;
}
#details-main p {
	margin-top: 2em;
}

#details-cover {
	width: 180px;
}

#details-text {
	width: 70%;
}
#details-text small {
	font-weight: normal;
}

#details-sub {
	margin: 20px 40px 40px;
	font-size: 0.9em;
	color: #e1e1e1;
}

#details-sub li, #details-sub ul {
	margin-left: 0;
	padding-left: 0;
}
#details-sub li {
	margin: 0.5em 0;
	list-style: none;
}
.dir {
	padding: 10px 40px 50px;
}

/* season / artists details */
.show-list {
	padding-bottom: 20px;
	min-height: 65px;
	clear: left;
}

.show-list img {
	margin-right: 20px;
}

.show-list-txt {
	margin-left: 150px;
}

.jacket {
	position: relative;
	width: 150px;
	margin-bottom: 10px;
}

.jacket h3, .jacket span, .jacket strong {
	padding-left: 4px;
}

#show-main {
	margin: 20px;
	overflow: hidden;
}

#show-main ul {
	list-style: none;
	padding-left: 15px;
	width: 170px;
}

#show-main strong {
	display: block;
	margin-top: 10px;
}

.video-js-box {
	float: left;
	border: 1px solid #444;
	border-bottom: none;
}

#show-player {
	width: 580px;
	min-height: 320px;
}

#episodes {
	margin-left: 15px;
	clear: left;
	width: 600px;
	font-size: 0.8em;
}

/** ALBUMS **/

#album-head {
	margin-top: -20px;
	border: 1px solid #444;
	padding: 5px;
}

table {
	color: inherit;
	font: inherit;
	border-spacing: 0;
}

#albums {
	width: 100%;
	padding: 5px 0;
	border-bottom: 1px solid #444;
}

.track span, .track a {
	display: block;
}

.track span {
	float: left;
	padding-left: 7px;
	width: 2em;
}

.track a {
	margin-left: 25px;
	padding-left: 18px;
}

.album-container .play {
	color: #9cf;
}

.album-container .track .play a {
	background: url(icons/sound-on.png) left center no-repeat;
}

.album-container .track .pause a {
	background: url(icons/sound-off.png) left center no-repeat;	
}

.album-container .pause {
	color: #6283a3;
}

.album-container div {
	float: left;
}

.album-content {
	float: right;
	width: 80%;
}

.album-content tr {
	position: relative;
	width: 100%;
}

.album-content td {
	border: none;
	padding: 4px;
}

.album-content a {
	position: absolute;
	display: block;
	text-indent: -9999px;
	right: 0;
	width:80%;
}

.album-content .play {
	color: #9CF;
}
.album-content .play a {
	background: url(icons/sound-on.png) 1% center no-repeat;
}
.album-content .pause {
	color: #6283A3;	
}
.album-content .pause a {
	background: url(icons/sound-off.png) 1% center no-repeat;
}

.album-content td:nth-child(1) {
  width: 15px;
  font-size: 0.8em;
}
.album-content td:nth-child(2) {
  width: 39%;
}
.album-content td:nth-child(3) {
  width: 39%;
}
.album-content td:nth-child(4) {
  width: 70px;
  font-size: 0.8em;
}
.album-content td:nth-child(5) {
  width: 50px;
	font-size: 0.8em;
}

.album-cover {
	float: left;
	width: 18%;
	margin-right: 1em;
	text-align: center;
}

.alt {
	background-color: #333;
}

audio {
	display: none;
	width: 400px;
	height: 18px;
	margin-right: 10px;
}

/* Video player */
#player {
	width: 800px;
	height: 300px;
	margin: 10px auto 40px auto;
	overflow: hidden;
	position: relative;
}

#player #video-player, #player #playlist {
	float: left;
}

#player #video-player {
	position: relative;
}

#video-player h2 {
	text-align: center;
	font-weight: normal;
	position: absolute;
	top: 40%;
	width: 100%;
	color: gray;
}

#player video {
	width: 600px;
}

#player #playlist {
	width: 180px;
	height: 100%;
	padding: 10px;
}

#player .playlist-section {
	padding: 5px;
	margin-bottom: 5px;
}

#iphoto-main h2 {
	text-transform: capitalize;
	font-style: normal;
	color: #b1b1b1;
	font-weight: 200;
	border-bottom: 1px solid #333;
	padding-bottom: 5px;
}


#iphoto-main .item {
	height: 32px;
	float: none;
	margin: 0;
}

#iphoto-main .item span {
	line-height: 32px;
	padding-left: 10px;
}

#iphoto-gallery .item {
	margin: 5px 10px;
	font-size: 0.9em;
	text-align: center;
}

#iphoto-gallery img {
	min-width: 80px;
	border: 1px solid #555;
}

/* plugins */
.bg-header {
	height: 30px;
}

img.header {
	position: absolute;
	left:0;
	top:0;
}

#plugin-directory {
	position: relative;
	z-index: 2;
	background: url(images/content-opacity.png);
	background-size:  auto 100%;
	min-height: 100%;
}

#plugin-directory .dir {
/*
	max-height: 500px;
	width: 80%;
	border: 1px solid gray;
	margin: 0 40px;
	overflow-y: auto;
*/
}

#plugin-directory .show-list {
	min-height: 50px;
	padding: 0 ;
}

#plugin-directory .show-list-txt {
	margin-left: 120px;
}
/* list infos viewGroup */

#listinfo-media {
	text-align: center;
	height: 50%;
}
#listinfo-media .media {
	height: 100%;
	background-color: #222;
}
#listinfo-summary {
	position: absolute;
	bottom: 80px;
	margin: 0 -40px;
	width: 100%;
	/* background: url(images/content-opacity.png) repeat-x; */
	opacity: 0.8;
	background-color: #000;
}
#listinfo-summary div {
	width: 70%;
	padding-bottom: 10px;
	margin: auto;
}


#tshf_container{position:absolute; bottom:0; width:100%; border-top:1px solid #666; border-bottom:1px solid #fff; -moz-box-shadow:inset 1px 1px 20px #666; -webkit-box-shadow:inset 1px 1px 20px #666; box-shadow:inset 1px 1px 20px #666; background:#ccc; margin: 0 -40px}
#tshf_container .thumbScroller{position:relative; width:100%; overflow:hidden; left}
#tshf_container .thumbScroller, #tshf_container .thumbScroller .container, #tshf_container .thumbScroller .content{height:90px;}
#tshf_container .thumbScroller .container{position:relative;}
#tshf_container .thumbScroller .content{float:left; padding: 10px 5px}
#tshf_container .thumbScroller .content div{height:100%;}
#tshf_container .thumbScroller .content div a{display:block; border: 2px solid transparent}
#tshf_container .thumbScroller .content div a:hover{border-color:#fff;}
#tshf_container .thumbScroller .content div a.selected {border-color:green;}


