body {
	font-family: Helvetica;
	font-weight: 400;
	font-size: 0.8em;
	color: #333;
	padding: 0;
	margin: 0;
	height:100%;
	line-height: 1.4em;
	min-width: 1000px;
}

a {
	color: inherit;
	text-decoration: none;
}

strong {
	font-weight: 600;
}

.fit {
	min-height:100%; /* lazy loadissue with height:100% */
}

.left {
	float: left;
}

.txt-left {
	text-align: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.bb {
	border-bottom: 1px solid #444;
}

.h4 {
	margin: 0.5em 0 0.3em 0;
}

.block {
	display: block;
}

.rounded {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.rounded-st {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
}


.shadow {
	-webkit-box-shadow: 0px 3px 25px #000;
	-moz-box-shadow: 0px 3px 25px #000;
	box-shadow: 0px 3px 25px #000;
}

.txt-shadow {
	text-shadow: 0px 1px 5px silver;
}

.txt-shadow-d {
	text-shadow: 1px 1px 2px #e1e1e1;
}

.button {
	padding: 0 1em;
	border: 1px solid #e1e1e1;
	cursor: pointer;
	/* display: block; */
	/* float: left; */
}

.fixed .right { /* fix the overflow of fixed elements */
	margin-right: 13em;
}

/* SIDEBAR */

#sidebar {
	float: left;
	position: fixed;
	z-index: 3;
	width: 12em;
	background-color: #dee3ea;
	border-right: 1px solid #b4b4b4;
	color: #748192;
	height: 100%;
}
#sidebar h4 {
	text-transform: uppercase;
	margin-top: 1em;
	font-size: 0.9em;
}

#sidebar ul, #sidebar h4 {
	padding: 0 1em;
}

#sidebar li, #sidebar ul {
	margin: 0;
	padding: 0;
}

#sidebar li {
	padding: 0 0 2px 20px;
	font-size: 0.9em;
	line-height: 20px;
	list-style-position: inside;
	color: #333;
}


#sidebar .active {
	color: #fff;
	background-color: #2d67b8;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(45,103,184)),color-stop(1, rgb(115,162,220)));
	background: -moz-linear-gradient(center bottom,rgb(45,103,184) 0%,rgb(115,162,220) 100%);
}

/* sidebar icons */
.sb-movie, .sb-video {
	list-style-image: url(icons/icon-movie.png);
}

.sb-show {
	list-style-image: url(icons/icon-show.png);
}
.sb-photos {
	list-style-image: url(icons/icon-photos.png);
}

.sb-artist, .sb-music, .sb-itunes {
	list-style-image: url(icons/icon-music.png);
}

 /* TOP NAV */
 /* TOP NAV */
#breadcrumb, #content-bottom {
	position: fixed;
	overflow:hidden; /* safari fix moving elements video/audio */
	z-index: 3;
	left: 12em;
	width: 100%;
}

#breadcrumb {
	top:0;
	border-bottom: 1px solid #585858;
	-webkit-box-shadow: 0px 1px 7px black;
	-moz-box-shadow: 0px 1px 7px black;
	box-shadow: 0px 1px 7px black;
	height:30px;
	line-height:30px;
	overflow: hidden;
}
.b-path ul {
	margin: 0;
	padding: 0;
}

.b-path li  {
	color: gray;
	list-style-type:none;
	float:left;
	padding-left:10px;
}

#breadcrumb a {
	color: #222;
	background: url(icons/bc_separator.png) right center no-repeat;
	padding-right: 15px;
	display: block;
	float: left;
}
#breadcrumb a:hover {
	color: #4688b7;
}

#breadcrumb span.active {
	color: #fff;
	background-color: #878787;
	-webkit-box-shadow: inset 0px 0px 5px #000;
	-moz-box-shadow: inset 0px 0px 5px #000;
	box-shadow: inset 0px 0px 5px #000;
}

/* TOP FILTERS */

#search {
	width: 150px;
}

#content-bottom {
	bottom: 0;
	height: 30px;
	border-top: 1px solid #585858;
	font-size: 0.89em;
	padding-left: 20px;
	color: #e1e1e1;
}

#content-bottom .right {
	margin-right: 15em;
}

.gradient {
	color: #111;
	background: #e1e1e1;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0.16, rgb(180,180,180)),color-stop(1, rgb(245,245,245)));
	background: -moz-linear-gradient(center bottom,rgb(180,180,180) 16%,rgb(245,245,245) 100%);
}

.dark-gradient {
	background: #060606;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(2,2,2)),color-stop(1, rgb(48,48,48)));
	background: -moz-linear-gradient(center bottom,rgb(2,2,2) 0%,rgb(48,48,48) 100%);
}

/* Content section part */
#content {
	z-index: 1;
	margin-left: 12em;
	width: auto;
	position: relative;
	background-color: #222;
	color: #fff;
	overflow-x: hidden;
}

#content h3 {
	font-size: 0.9em;
}

#browser {
	margin-top: 25px;
	overflow: hidden;
	min-height: 90%;
}

#browser .item {
	float: left;
	margin: 5px;
}

.item {
		position: relative;
}

.item .img, .h3 {
	position: absolute;
	text-align: center;
	left: 0;
}


.h3 {
	bottom: 0;
}

.img {
	bottom: 40px;
}

.img .rounded {
	position: relative;
	margin: auto;
	border:4px solid transparent;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-transition: all 0.2s ease-in-out;
}

*:hover .img > .rounded, .img.current > .rounded {
	border:4px solid #e2aa54;
}

.img .rounded img, .img:hover .rounded img  {
	border: none;
}

.item .img, .h3 span {
	color: silver;
}

.item:hover img {
	/* not functional with webkit
background: -webkit-gradient(linear,left bottom,left top,color-stop(0.19, rgb(124,72,32)),color-stop(0.6, rgb(226,169,84)));
	background: -moz-linear-gradient(center bottom,rgb(124,72,32) 19%,rgb(226,169,84) 60%);
*/
}

/* DIFF ITEM */
#section .item {
	width: 170px;
	height: 220px;
}

#section .item .img .rounded {
	width: 110px;
}

#section .item .img, .h3 {
	width: 100%;
}

#third .item {
	width: 130px;
	height: 180px;
}

#music .item {
	width: 170px;
	height: 170px;
}

#music .item .img .rounded {
	width: 110px;
}

#music .item .img, .h3 {
	width: 100%;
}

/* Media or Directory details */
.details {
	padding: 40px 40px 0 30px;
}

#details-text {
	padding-bottom: 20px;
}

.details h2 {
	font-weight: normal;
	color: #f5f5f5;
}
#details-main {
	padding-bottom: 10px;
}
#details-main p {
	margin-top: 2em;
}

#details-cover {
	width: 180px;
	text-align: center;
}
#details-main h1 {
	margin-top: 5px;
}


h1 small {
	font-weight: normal;
}

#details-sub {
	margin: 20px 40px 40px;
	font-size: 0.9em;
	color: #e1e1e1;
}

#details-sub li, #details-sub ul {
	margin-left: 0;
	padding-left: 0;
}
#details-sub li {
	margin: 0.5em 0;
	list-style: none;
}
.dir {
	padding: 10px 40px 50px;
}

/* season / artists details */
#season #details-main {
	padding-bottom: 10px;
}

.show-list {
	padding-bottom: 20px;
	min-height: 65px;
	clear: left;
}

.show-list img {
	margin-right: 20px;
}

.show-list-txt {
	margin-left: 150px;
}

.jacket {
	float: left;
	position: relative;
	text-align: center;
	width: 150px;
	margin-bottom: 10px;
}

.jacket h3, .jacket span, .jacket strong {
	padding-left: 4px;
}

#show-details h4 {
	margin: 0.5em 0;
}
#episode-player {
	overflow: hidden;
	margin: 20px 0 20px 20px;
}
#episode-player #show-player {
	width: 600px;
}

.video-js-box {
	border: 1px solid #444;
	border-bottom: none;
}


#episodes {
	margin-top: 15px;
	margin-left: 20px;
	font-size: 0.8em;
	width: 650px;
}

#episode-details {
	padding-top: 50px;
	padding-left: 20px;
	height: 40px;
}

/** ALBUMS **/

.summary {
	margin-left: 180px;
}

#summary strong {
	display: block;
	padding-top: 5px;
	color: #fff;
}

#album-head {
	margin-top: -20px;
	border: 1px solid #444;
	padding: 5px;
}

table {
	color: inherit;
	font: inherit;
	border-spacing: 0;
}

#albums {
	width: 100%;
	padding: 5px 0;
	border-bottom: 1px solid #444;
}

.track span, .track a {
	display: block;
}

.track a {
	margin-left: 25px;
	padding-left: 18px;
}

.album-container .play, .show-list h3 {
	color: #9cf;
}

.album-container .track .play a {
	background: url(icons/sound-on.png) left center no-repeat;
}

.album-container .track .pause a {
	background: url(icons/sound-off.png) left center no-repeat;	
}

.album-container .pause {
	color: #6283a3;
}

.album-container div {
	float: left;
}

.album-content {
	float: right;
	width: 80%;
}

.album-content tr {
	position: relative;
	width: 100%;
}

.album-content td {
	border: none;
	padding: 4px;
}

.album-content a {
	position: absolute;
	display: block;
	text-indent: -9999px;
	right: 0;
	width:80%;
}

.album-content .play {
	color: #9CF;
}
.album-content .play a {
	background: url(icons/sound-on.png) 1% center no-repeat;
}
.album-content .pause {
	color: #6283A3;	
}
.album-content .pause a {
	background: url(icons/sound-off.png) 1% center no-repeat;
}

.album-content td:nth-child(1) {
  max-width: 15px;
  font-size: 0.8em;
}
.album-content td:nth-child(2) {
  max-width: 39%;
}
.album-content td:nth-child(3) {
  max-width: 39%;
}
.album-content td:nth-child(4) {
  max-width: 70px;
  font-size: 0.8em;
}
.album-content td:nth-child(5) {
  max-width: 50px;
	font-size: 0.8em;
}

/* specific to plugins */

.album-cover {
	float: left;
	width: 18%;
	margin-right: 1em;
	text-align: center;
}

.alt {
	background-color: #333;
}

#audio {
	width: 400px;
	margin-right: 10px;
}

/* Video player */
#player {
	overflow: hidden;
	position: relative;
	width: 620px;
	margin: 40px auto 0;
}

#player #video-player {
	position: relative;
}

#video-player h2 {
	text-align: center;
	font-weight: normal;
	position: absolute;
	top: 40%;
	width: 100%;
	color: gray;
}

#player #show-player {
	width: 100%;
}

.video-js-box {
	width: 100%;
}
.top {
	margin-top: 40px;
}
#movie-details {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 200px;
	float: left;
	border-right: 1px solid #444;
}

#movie-cover {
	width: 100%;
	text-align: center;
}

#movie-content {
	margin-left: 200px;
	height: 100%;
}
#movie-content h1 {
	margin-top: 0;
}

#movie-content #details-text, #season {
	background: left top no-repeat;
	background-size: 100% auto;
	padding-bottom: 0;
}
.opacity {
	background: url(images/content-opacity.png);
	padding-bottom: 10px;
}
#movie-content .opacity {
	padding-left: 20px;
	padding-right: 20px;
}

#movie-tech ul {
	list-style: none;
	padding-top: 20px;
	margin-left: 0;
	padding-left: 20px;
}

.media-prod a {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.media-prod {
	padding-left: 20px;
}

.media-prod a:hover {
	color: #fff;
}

.media-prod, #details-text p, #details-main p {
	overflow: hidden;
	color: silver;
}
#movie-prod .prod {
	float: left;
}

.button-rel {
	margin: 0 2px 0 20px;
	padding: 5px;
	background-color: #6a6868;
	border: 1px solid;
	border-top: none;
	z-index: 2;
}
.button-rel a {
	display: block;
	padding: 2px 0 2px 16px;
	background: url(icons/movie-icons.png) no-repeat;
	color: #fff;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.button-rel a:hover, .playlist-section a.paused, .playlist-section a.watching {
	color: #9cf;
}

#movie-actions span.current, .button-rel {
	border-color: #555;
	box-shadow: 0 2px 5px #333;
	position: relative;
}

.playlist-section a.watching {
	background-position: 0 4px;
}

.playlist-section a {
	background-position: 0 -21px;
}

#download a {
	background-position: 0 -45px;
}

.movie_3, .movie_2 {
	width: 33%;
}
.movie_4, .movie_5 {
	width: 25%;
}

#movie-title {
	padding-top: 50px;
}

.media-prod h4 {
	color: #ff5e27;
}

#movie-actions {
	margin-left: 20px;
	line-height: 28px;
}

#movie-actions span {
	border: 1px solid #888;
	padding: 5px 10px;
}

#movie-actions span:hover {
	border-color: #83afdb;
}

#movie-actions span.current, #movie-actions span.current:hover {
	z-index: 1;
	color: #fff;
	border-bottom: none;
	padding-bottom: 8px;
	background: #6a6868;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#iphoto-main h2 {
	text-transform: capitalize;
	font-style: normal;
	color: #b1b1b1;
	font-weight: 200;
	border-bottom: 1px solid #333;
	padding-bottom: 5px;
}


#iphoto-main .item {
	height: 32px;
	float: none;
	margin: 0;
}

#iphoto-main .item span {
	line-height: 32px;
	padding-left: 10px;
}

#iphoto-gallery .item {
	font-size: 0.9em;
	text-align: center;
}

#iphoto-gallery img {
	border: 1px solid #555;
}


/* plugins */
.bg-header {
	height: 30px;
}

#plugin-directory {
	position: relative;
	min-height: 100%;
}

#plugin-directory .dir {
/*
	max-height: 500px;
	width: 80%;
	border: 1px solid gray;
	margin: 0 40px;
	overflow-y: auto;
*/
}

#plugin-directory .show-list {
	min-height: 50px;
	padding: 0;
}

#plugin-directory .show-list-txt {
	margin-left: 120px;
}
/* list infos viewGroup */

#listinfo-media {
	text-align: center;
	height: 50%;
}
#listinfo-media .media {
	height: 100%;
	background-color: #222;
	margin-top: 30px;
}
.story-button {
	display: block;
	text-align: center;
	margin-top: -18px;
	width: 50px;
	padding: 2px 5px;
	z-index:2;
	cursor: pointer;
}
#listinfo-summary {
	position: absolute;
	bottom: 58px;
	background: #000;
	margin: 0 -40px;
	width: 100%;
	opacity: 0.8;
	font-weight: 200;
}
#listinfo-summary div {
	width: 85%;
	margin: auto;
}

/* view LIST */
#plugin-directory > .details {
	height: 55px;
}

.dir .list, .dir .list h4 {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-transition: all 0.2s ease-in-out;
}
.dir .list {
	width: 140px;
	height: 160px;
	position: relative;
	float: left;
	text-align: center;
	margin: 7px;
	padding: 5px;
	background-color: #333;
}

.dir .list:hover {
	background-color: #334563;
}

.dir .list:hover h4 {
	color: #f9e8d9;
}

.dir .list h4 {
	position: absolute;
	bottom:0;
	left: 0;
	margin: 0;
	width: 100%;
	padding: 5px 0;
	text-align: center;
	background: #222;
	opacity: 0.8;
	font-weight: 400;
	font-size: 0.9em;
}

#tshf_container a.selected {
	opacity: 1;
}

#tshf_container {
	position:absolute; 
	bottom:0; 
	width:100%; 
	border-top:1px solid #444; 
	-moz-box-shadow:inset 1px 1px 20px #000; 
	-webkit-box-shadow:inset 1px 1px 20px #000; 
	box-shadow:inset 1px 1px 20px #000; 
	background:#222; margin: 0 -40px
}
#tshf_container .next, #tshf_container .prev {
	position: absolute;
	top: 0;
	opacity: 0.8;
	width: 20px;
	height: 100%;
	z-index: 2;
	text-indent: -9999px;
	background: #000 center center no-repeat;
	cursor: pointer;
}
#tshf_container .next {
	right:0;
	background-image: url(icons/next.gif);
}
#tshf_container .prev {
	left:0;
	background-image: url(icons/prev.gif);
}
.hidden {
	visibility: hidden;
}
#tshf_container .thumbScroller{
	position:relative; 
	width:100%; 
	overflow:hidden;
}
.thumbScroller, .thumbScroller .container, .thumbScroller .content{
	height:60px;
}
.thumbScroller .container{
	position:relative;
}
.thumbScroller .content{
	float:left;
	margin: 2px 5px 0 0;
}
.thumbScroller .content div{
	height:100%;
}
.thumbScroller .content a {
	display:block;
}